; Template script for setting the FPM slaves to the appropriate user, so that
; files are created with the right ownership
[www]
user = $USER
group = $USER
listen = /var/run/php5-fpm.sock
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
chdir = /
